<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-image-compressor"
    version="1.0.0">
    <name>Cordova Image Compressor</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/Srini-max/Cordova-Image-Compressor.git</repo>
    <issue>https://github.com/Srini-max/Cordova-Image-Compressor/issues</issue>

     <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="ImageCompressor" />
      </js-module>
    
    <!-- android -->
    <platform name="android">
     
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ImageCompressor">
          <param name="android-package" value="com.cordova.imgcompressor.ImageCompressor" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

       <config-file parent="/*" target="AndroidManifest.xml">
          <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
          <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <!--<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE" />
	</config-file>	
	    <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="com.sec.android.provider.badge.permission.READ" tools:node="remove" />
            <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" tools:node="remove" />
            <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" tools:node="remove" />
            <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" tools:node="remove" />
            <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" tools:node="remove" />
            <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" tools:node="remove" />
            <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" tools:node="remove" />
            <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" tools:node="remove" />
            <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" tools:node="remove"/>
            <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" tools:node="remove" />
            <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" tools:node="remove" />
            <uses-permission android:name="android.permission.READ_APP_BADGE" tools:node="remove" />
            <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" tools:node="remove" />
            <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" tools:node="remove" />
		</config-file>	-->

      <source-file src="src/android/ImageCompressor.java" target-dir="src/com/cordova/imgcompressor"/>

    </platform>
    
        <!-- iOS -->

    <platform name="ios">
        
     <config-file target="*-Info.plist" parent="UIUserInterfaceStyle">
      <string>Light</string>
         </config-file>
        
      <config-file target="*Info.plist" parent="NSCameraUsageDescription">
      <string>Camera access is required for capturing your profile pic and creating posts</string>
    </config-file>
	    
    <config-file target="*Info.plist" parent="NSPhotoLibraryAddUsageDescription">
      <string>Photo access is required for saving the files downloaded from application</string>
    </config-file>
        
    <config-file target="config.xml" parent="/*">
      <feature name="ImageCompressor">
        <param name="ios-package" value="base64Compression" />
      </feature>
    </config-file>
        
        <framework src="Foundation.framework" />

    <header-file src="src/ios/Base64.h" />
    <source-file src="src/ios/Base64.m" />

    <header-file src="src/ios/base64Compression.h" />
    <source-file src="src/ios/base64Compression.m" />
  </platform>
</plugin>
